
.btn {
    background-color: #66074a; /* Color del botón */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.btn:hover {
    background-color: #c21893; /* Color cuando el botón está en hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
}

.btn:active {
    background-color: #a61775; /* Color cuando el botón está activo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra al hacer clic */
    transform: translateY(2px); /* Efecto de "presionar" el botón */
}