.navbar{
    background-color:#a01476;
    color: white;
    display: flex;
}
.navbar-brand{
    display: flex;
    justify-items: center;
    align-items: center;
    img{
        width: 100px;
     }
    p{
        color: white;
        font-size: xx-large;
        font-family:Playfair Display;
       
    }
    
}